#------------------------------------------------------------------------------
# Corvus specific control parameters (Corvus specific)
# Organize handler so that 
# 1. translation of generic to internal variables as much as possible.

target_list
% Space separated list with all the targets required for this calculation.
% 
{
|X| S ...
|X| ...
} .inp_target_list

title
% Title of this calculation.
{
This is a Corvus calculation |X| P
                             |X| ...
} .inp_title

scratch
% Directory for disk scratch for those Handlers that require large amounts of
% disk. If the directory is not present or it can not be created, Corvus reverts
% to the default.
% NOTE: This input variable is not fully implemented yet.
{
. |X| S ...
} .inp_scratch

# Adding the following input tag to facilitate the integration of the different
# versions of corvus. This will help the code run different wfs that could be
# provided by two codes. For example, both abinit and nwchem can produce
# dynamical matrices. This input tag allows us to choose which will be used by
# hand.
usehandlers
% Explicitely declare what Handlers are to be used in the generation of the
% Workflow. This helps the current simple Workflow generator when a given target
% is provided by more than one Handler.
% Current possible values are:
%    Feff, FeffRixs, Dmdw, Abinit, Vasp, Nwchem, Orca
{
|X| S ...
} .inp_usehandlers


#------------------------------------------------------------------------------
# General methodological control parameters

method
% Method used to compute the target. This variable is somewhat context-dependent
% and is ccurrently not fully implemented.
% Current possible values are:
%    dft, mp2, ccsd
{
dft |X| S
} .inp_method

xc
% Exchange-correlation functional to use if the "method" selected is "dft".
% Current possible values are:
%    lda, pbe, b3lyp
{
lda |X| S
} .inp_xc

pspfiles
% List of pseudopotentials for each atom in the system. Each line contains
% the label for the atoms (usually the element % name) and the name of the file
% with the pseudopotential. The required format for the files will depend on the
% Handler used.
{
|X| S S
|X| ...
} .inp_pspfil

scf_conv
% Convergence threshold for SCF cycles (HF, DFT, etc) in au. The value set by
% this variable might be internally overridden if the target requires tighter
% convergence settings.
{
1.0e-5|X| F
} .inp_scf_conv

keep_symm
% Toggle the preservation of initial symmetry in optimizations.
{
True |X| L
} .inp_keep_symm

constant_volume
% Keep the simulation cell volume constant in cell optimizations.
{
True |X| L
} .inp_constant_volume

nkpoints
% Define the number of k-point in each direction of the grid for reciprocal
% space simulations.
{
1 1 1 |X| I I I
} .inp_nkpoints

nqpoints
% Define the number of q-point perturbations in each direction of the grid for
% density functional perturbation theory (DFPT) simulations.
{
 |X| I I I
} .inp_nqpoints

pw_encut
% Planwave energy cutoff for reciprocal space simulations, in au.
{
15.0 |X| F
} .inp_ecut

#------------------------------------------------------------------------------
# Physical properties (generic by definition)

ismetal
% Toggle whether the system should be treated as a metal or as an insulator.
{
False |X| L
} .inp_ismetal

ene_int
# Internal (electronic) energy of the system, in au.
{
|X| F
} .inp_ene_int

cell_vectors
% Normalized simulation cell vector directions. These vectors are scaled using
% the "cell_scaling_iso" and "cell_scaling_abc" input variables to generate the
% simulation cell.
{
|X| F F F
|X| F F F
|X| F F F
} .inp_cell_vectors

cell_struc_opt_flags
% Toggle the optimization of the x, y and z coordinates of each atom in the
% system.
{
|X| L L L
|X| ...
} .inp_cell_struc_opt_flags

cell_struc_xyz_red
% Structure of the simulation cell in reduced coordinates if the system is
% extended and has periodic boundary conditions.
{
|X| S F F F
|X| ...
} .inp_cell_struc_xyz_red

cell_scaling_iso
% Unitless isotropic scaling of the unit cell.
{
1.0 |X| F
} .inp_cell_scaling_iso

cell_scaling_abc
% Scaling of the a, b an c axes of the simulation cell, in Angstroms.
{
|X| F F F
} .inp_cell_scaling_iso

mac_diel_const
% Approximate value of the macroscopic dielectric constant of the system used in
% some methods to accelerate convergence of the SCF cycle.
{
|X| F
} .inp_mac_diel_const

cluster
% Structure of the system is the system is not extended (i. e. is a molecule or
% cluster). The coordinates are in Angstroms.
{
|X| S F F F
|X| ...
} .inp_cluster

absorbing_atom
% Index of the absorbing atom for core spectroscopies such as XANES, EXAFS and
% XES.
{
|X| I
} .inp_absorbing_atom

charge
% Net charge of the system.
{
0 |X| I
} .inp_charge

multiplicity
% Multiplicity of the system.
{
0 |X| I
} .inp_charge

spectral_broadening
% Broadening used in some spectroscopic methods.
{
0.0 |X| F
} .inp_spectral_broadening

fermi_shift
% Shift of the fermi-energy in eV.
{
0.0 |X| F
} .inp_fermi_shift

#------------------------------------------------------------------------------
# Code specific control parameters

# Abinit
abinit.verbatim
% The content of this input variable is passed as is (i. e. "verbatim") into the
% input of all Abinit calculations, and it is meant to help with any Abinit
% input that is currently not implemented in Corvus. Thus, it should be used
% carfully to avoid inconsistencies with the automatically generated input.
% Users should refed to the Abinit manual for information on this extra input.
{
|X| P
} .inp_abinit.verbatim

abinit.ngqpt
% Equivalent to Abinit's ngqpt input variable: Defines the number of q-point
% perturbations in each direction of the grid for density functional
% perturbation theory (DFPT) simulations, and is that equivalent to the general
% "nqpoints" Corvus input variable. Please refer to the Abinit manual for
% further details.
%
% NOTE: This code-specific input variable will be replaced by the general
% "nqpoints" variable in the future.
{
|X| I I I
} .inp_abinit.ngqpt

abinit.ng2qpt
% Equivalent to Abinit's (anaddb) ng2qpt input variable: Defines the number of
% q-point perturbations in each direction of the finer grid for density
% functional perturbation theory (DFPT) simulations. Please refer to the
% Abinit manual for further details.
{
|X| I I I
} .inp_abinit.ng2qpt

#------------------------------------------------------------------------------

# NOTE: FDV
# Commenting this out. I have to find out a good definition for it and it is not
# currently being used.
#dmdw.mustar
#% Set the
#{
#|X| F
#} .inp_dmdw.mustar

#dmdw.ioflag
#{
#0 |X| I
#} .inp_dmdw.ioflag
dmdw.ioflag
% Set the amount of output printed by DMDW. Possible values are:
%   0: Terse, prints out only the desired result (s^2, u^2, etc).
%   1: Verbose, prints out the pole frequencies and weights, as well as
%      estimates of the Einstein temperatures for each path.
% Please refer to the DMDW section of the Feff manual for further details.
%
% NOTE: The current format described below is temporary for compatibility with
% previous versions of Corvus. This will be changed to "Integer" in the future.
{
|X| P
} .inp_dmdw.ioflag

#dmdw.nlanc
#{
#|X| I
#} .inp_dmdw.nlanc
dmdw.nlanc
% Set the number of Lanczos poles (i. e. iterations) in DMDW. Larger values
% usually improve convergence of the target quantity. However, the number of
% poles should not exceed the dimensions of the subspace spanned by the
% projection of the path into the appropriate eigenmodes of the Hessian. This
% means that this variable should always be less than 3*N-6, where N is the
% number of atoms in the system. In practice, a value of 6-8 is sufficient to
% obtain converged mean square relative displacements (MSRD, or s^2) for EXAFS.
% For crystallographic mean square displacements (MSD, or u^2) at least 16 poles
% are usually needed. Please refer to the DMDW section of the Feff manual for
% further details.
%
% NOTE: The current format described below is temporary for compatibility with
% previous versions of Corvus. This will be changed to "Integer" in the future.
{
|X| P
} .inp_dmdw.nlanc

dmdw.paths
% Set up the path descriptors that will generate the list of paths for which
% properties will be calculated. The list has the following form:
%   <Number of descriptors>
%     <Descriptor 1>
%     <Descriptor 2>
%    .
%    .
%
% Each descriptor has the form:
%   <Number of atoms in path> <Atom index 1> ... <Max. path length (Ang)>
%
% The atom indices can take the value 0 which acts as a wildcard for all atoms
% in the system.
%
% Examples:
%
% 2
% 2 1 0   3.0
% 3 2 0 5 6.0
%
% This section defines 2 paths descriptors. The first one generates all paths
% with two atoms, starting in atom 1 and going to all other atoms in the
% systems, but subject to a maximum effective path length of 3.0 Ang. The
% second one generates all paths with three atoms, starting in atom 2 and
% ending in atom 5, while passing trhough all other atoms in the system, but
% with a maximum effective length of 6.0 Ang.
% Using the same syntax atoms can be selected to compute their u^2. For example
% the paths section
%
% 1
% 1 0 0.0
%
% will produce u^2 for all atoms in the system. Please refer to the DMDW
% section of the Feff manual for further details.
%
% NOTE: The current format described below is temporary for compatibility with
% previous versions of Corvus.
{
|X| P
} .inp_dmdw.paths

#dmdw.tempgrid
#{
#|X| I F F
#} .inp_dmdw.tempgrid
dmdw.tempgrid
% Set up the temperature grid to compute the thermal properties in DMDW. It has
% the following form:
%
%   <Number of temperature> <Min. temp.> <Max. temp.>
%
% If the number of desired temperatures is just one, the maximum temperature
% input is not needed. Please refer to the DMDW section of the Feff manual for
% further details.
%
% NOTE: The current format described below is temporary for compatibility with
% previous versions of Corvus.
{
|X| P
} .inp_dmdw.tempgrid

#------------------------------------------------------------------------------

nwchem.basis
% Set the Gaussian basis set to be used in the NWChem calculations. The format
% is the same as in NWChem:
%
% <Atom label> <Basis set name>
%  .
%  .
%
% Please refer to the NWChem manual for further details.
{
|X| S ...
|X| ...
} .inp_nwchem.basis

nwchem.qmd.nstep_nucl
% Set the number of nuclear motion steps in a quantum MD simulation.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.qmd.nstep_nucl

nwchem.qmd.dt_nucl
% Set the time step for nuclear motion in a quantum MD simulation.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.qmd.dt_nucl

nwchem.qmd.targ_temp
% Set the target temperature in a quantum MD simulation.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.qmd.targ_temp

nwchem.qmd.thermostat
% Set the thermostat type to be used in a quantum MD simulation.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.qmd.thermostat

nwchem.qmd.print_xyz
% Toggle printing of xyz coordinates in a quantum MD simulation.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.qmd.print_xyz

nwchem.xc
% Set the exchange correlation potential for an NWChem DFT simulation.

% NOTE: This input variable will be superseded in the future by the more
% general "xc" variable.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.xc

nwchem.mult
% Set the multiplicity of the system for an NWChem DFT simulation.

% NOTE: This input variable will be superseded in the future by the more
% general "multiplicity" variable.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.mult

nwchem.qmd.snapstep
{
|X| S
} .inp_nwchem.qmd.snapstep

nwchem.xas.alpha
{
|X| S
} .inp_nwchem.xas.alpha

nwchem.xas.xrayenergywin
{
|X| F F
} .inp_nwchem.xas.xrayenergywin

nwchem.xas.nroots
{
|X| S
} .inp_nwchem.xas.nroots

nwchem.xas.vec
{
|X| S
} .inp_nwchem.xas.vec

nwchem.iter
{
|X| S
} .inp_nwchem.iter

nwchem.charge
% Set the net charge of the system for an NWChem DFT simulation.

% NOTE: This input variable will be superseded in the future by the more
% general "charge" variable.
%
% Please refer to the NWChem manual for further details.
{
|X| S
} .inp_nwchem.charge

nwchem.xaselem
{
|X| S
} .inp_nwchem.xaselem

#------------------------------------------------------------------------------

# Added by FDV
# FEFF input: Non-standard input for Feff. These tokens are used to split up
# some of the input cards in Feff.
# These should probably considered generic

nuctemp
%
% nuctemp
% {
% temp
%
% Specify the temperature (in K) for the nuclear motion (DW factors).
{
300.0 |X| F
} .inp_nuctemp

debyetemp
%
% debyetemp
% {
% temp
%
% Specify the Debye Model temperature (in K) for the calculation of EXAFS DW
% factors.
{
|X| F
} .inp_debyetemp

dmdw_nlanczos
%
% dmdw_nlanczos
% {
% nLanczos_Interations
%
% Specify the number of Lanczos iterations to be done for the calculation of
% EXAFS DW factors with the dynamical matrix method.
{
6 |X| I
} .inp_dmdw_nlanczos

# FEFF input: Most of these will need to be changed due to the optional paramter
# that appear after the required parameters. Alternatively, we can change the functionality 
# of corvus to allow partial input/ partial default.
feff.MPI.CMD{
|X| S
} .inp_feff.MPI.CMD
feff.MPI.ARGS{
|X| S ...
} .inp_feff.MPI.ARGS
feff.atoms
%
% feff.atoms
% {
% x1  y1  z1 ipot1
% x2  y2  z2 ipot2
% .
% .
% .
%
% Specify atomic positions in cartesian coordinates (in Angstroms) and
% unique potential indices of each atom in the cluster, one atom per line.
{
|X| F F F I
|X| ...
} .inp_feff.atoms

# HOLE
feff.hole
% DEPRECATED: Use feff.edge instead.
%
% Specify the edge using the hole number ihole, e.g., 
% K-edge : ihole = 1
% L1-edge: ihole = 2
% s02 specifies the EXAFS amplitude reduction factor, and should be set to 1.
{
|X| I F
} .inp_feff.hole

# OVERLAP
feff.overlap
% feff.overlap can be used to construct approximate overlapped atom potentials
% when atomic coordinates are not known or specified. 
% NOTE: This input variable is not fully implemented yet.
{
|X| I
} .inp_feff.overlap

# CONTROL
feff.control
%
% feff.control{ ipot ixsph ifms ipaths igenfmt iff2x }
%
% feff.control lets you run one or more of the feff program modules
% separately. There is a switch for each of six parts of feff:
% 0 means not to run that module, 1 means to run it.
{
|X| I I I I I I
} .inp_feff.control

# EXCHANGE
feff.exchange
% feff.exchange{ iexc vr vi iexc0 }
% Use feff.exchange to change the self-energy used in x-ray absorption
% calculations. ixc is an index specifying the potential model to use for the
% fine structure, and the optional ixc0 is the index of the model to use for
% the background function. The calculated potential can be corrected by adding
% a constant shift to the Fermi level given by vr0 and to a pure imaginary
% "optical" potential (i.e., uniform decay) given by vi0. Typical errors in
% Feff's self-consistent Fermi level estimate are about 1 eV.
% (The feff.corrections input is similar but allows the user to make small
% changes in vi0 and vr0 after the rest of the calculation is completed, for
% example in a fitting process.)
%
% Indices for the available exchange models:
%   0 Hedin-Lundqvist + a constant imaginary part
%   1 Dirac-Hara + a constant imaginary part
%   2 ground state + a constant imaginary part
%   3 Dirac-Hara + HL imag part + a constant imaginary part
%   5 Partially nonlocal: Dirac-Fock for core + HL for valence electrons + a
%     constant imaginary part
{
|X| I F F I
} .inp_feff.exchange

# ION
feff.ion
% feff.ion{ ipot ionization }
% feff.ion ionizes all atoms with unique potential index ipot.
% NOTE: This input variable is not fully implemented yet.
{
|X| I F
|X| ...
} .inp_feff.ion

# TITLE
feff.title
% Set title for this feff calculation.
{
|X| S ...
|X| ...
} .inp_feff.title

# FOLP
feff.folp
% feff.folp{ ipot overlap }
% Set the overlap for unique potential ipot.
{
|X| I F
|X| ...
} .inp_feff.folp

# RPATH
feff.rpath
% feff.rpath{ rmax }
% Set maximum path length for path expansion calculations of EXAFS, EXELFS,
% DAFS, etc.
{
|X| F
} .inp_feff.rpath

# DEBYE
feff.debye
% feff.debye{ Temperature Debye-Temperature idwopt }
% Set temperature and Debye temperature for calculations of EXAFS Debye-Waller
% factors.
%   idwopt - set method for calculating DW factors. 
% NOTE: This input variable is not fully implemented yet.
{
|X| S
} .inp_feff.debye

# Separate inp for DMDW
feff.dmdw
% NOTE: This input variable is not fully implemented yet.
{
|X| S I I I
} .inp_feff.dmdw

# RMULT
feff.rmultiplier
% feff.rmultiplyer{ rmult }
% Multiply coordinates of all atoms by rmult, expanding or contracting the
% system.
{
|X| F
} .inp_feff.rmultiplier

# SS
feff.ss
% NOTE: This input variable is not fully implemented yet.
{
|X| I I F F
|X| ...
} .inp_feff.ss

# PRINT
feff.print
% feff.pring{ ipr_pot ipr_xsph ipr_fms ipr_path ipr_genfmt ipr_ff2x }
% Set print level for each module of FEFF:
%   pot: 
%     0 write 'pot.bin' only
%     1 add 'misc.dat'
%     2 add 'potNN.dat'
%     3 add 'atomNN.dat'
% 
%   xsph:
%     0 write 'phase.bin' and 'xsect.bin' only
%     1 add 'axafs.dat' and 'phase.dat'
%     2 add 'phaseNN.dat' and 'phminNN.dat'
%     3 add 'ratio.dat' (for XMCD normalization) and 'emesh.dat'.
% 
%   fms:
%     0 write 'gg.bin'
%     1 write 'gg.dat'
% 
%   path:
%     0 write 'paths.dat' only
%     1 add 'crit.dat'
%     3 add 'fbeta' files (plane wave |f(\beta)| approximations)
%     5 Write only 'crit.dat' and do not write 'paths.dat'. (This is useful
%       genfmt 0 write 'list.dat', and write 'feff.bin' with all paths with
%       importance greater than or equal to two thirds of the curved wave
%       importance criterion
%
%   genfmt:
%     0 write 'list.dat', and write 'feff.bin' with all paths with importance
%       greater than or equal to two thirds of the curved wave importance
%       criterion
%     1 write all paths to 'feff.bin'
% 
%   ff2x:
%     0 write 'chi.dat' and 'xmu.dat'
%     2 add 'chipNNNN.dat' (chi(k) for each path individually)
%     3 add 'feffNNNN.dat' and 'files.dat', and do not add 'chipNNNN.dat'
%       files
{
|X| I I I I I I
} .inp_feff.print

#
# potentials: should have one more F at the end for spinph. Leaving that off for now.
feff.potentials
% feff.potentials{
%   ipot iz pot_label lfms1 lfms2 stoichiometry
%   ...
% }
% Set unique potentials for FEFF calculation.
%
{
|X| I I S I I F
|X| ...
} .inp_feff.potentials

feff.lfms1
% set maximum angular momentum to use in potentials
{
-1 |X| I
} .inp_feff.lfms1


feff.lfms2
% set maximum angular momentum to use in FMS
{
-1 |X| I
} .inp_feff.lfms2

# NLEG
feff.nleg
% feff.nleg{ nleg }
% Set maximum number of legs to use in path expansion. A Single scattering
% path has 2 legs.
{
|X| I
} .inp_feff.nleg

# CRITERIA
feff.criteria
% feff.criteria{ critcw critpw }
% Cutoff criteria for the path expansion filtering. 
% critcw - tolerance for curved wave expansion
% critpw - tolerance for initial plane wave approximation
{
|X| F F
} .inp_feff.criteria

# NOGEOM - leave out for now.
#feff.nogeom
#{
#.false. |X| L
#} .inp_feff.nogeom

# IORDER
feff.iorder
% feff.iorder{ iorder }
% Set order of approximation when calculating effective scattering matrices.
{
|X| I
} .inp_feff.iorder

# PCRITERIA
feff.pcriteria
% feff.pcriteria{ pcritk pcrith }
% Set criteria for filtering in pathfinder. The keep-criterion pcritk looks at
% the amplitude of chi (in the plane wave approximation) for the current path
% and compares it to a single scattering path of the same effective length.
% To set this value, consider the maximum degeneracy you expect and divide
% your plane wave criterion by this number. For example, in fcc Cu, typical
% degeneracies are 196 for paths with large r, and the minimum degeneracy is 6.
% So a keep criterion of 0.08% is appropriate for a pw criteria of 2.5%. The
% heap-criterion pcrith filters paths as the pathfinder puts all paths into a
% heap (a partially ordered data structure), then removes them in order of
% increasing total path length. Each path that is removed from the heap is
% modified and then considered again as part of the search algorithm. The heap
% filter is used to decide if a path has enough amplitude in it to be worth
% further consideration. If a path can be eliminated at this point, entire
% trees of derivative paths can be neglected, leading to enormous time savings.
% This test does not come into play until paths with at least 4 legs are being
% considered, so single scattering and triangular (2 and 3 legged) paths will
% always pass this test. Because only a small part of a path is used for
% this criterion, it is difficult to predict what appropriate values will be. 
{
|X| F F 
} .inp_feff.pcriteria

# SIG2
feff.sig2
% feff.sig2{ sig2 }
% Set a single Debye-Waller factor for all paths, exp{-2*sig2*k**2}.
{
|X| F
} .inp_feff.sig2

# XANES
feff.xanes
% feff.xanes{ xkmax }
% Calculate XANES spectrum.
%   xkmax - calculate up to k = xkmax
{
|X| F
} .inp_feff.xanes

# CORRECTIONS
feff.corrections
% feff.corrections{ vrcorr vicorr }
% Correct the Fermi cutoff and broadening in the final spectrum calculation.
% vrcorr - Shift Fermi cutoff by -vrcorr. 
% vicorr - Add extra Lorenzian broadening with half width at half max of vicorr. 
{
|X| F F
} .inp_feff.corrections

# AFOLP
feff.afolp
% feff.afolp{ folpx }
% Set maximum overlap for automatic overlap search.
% folpx - maximum overlap allowed.
{
|X| F
} .inp_feff.afolp

# EXAFS
feff.exafs
% feff.exafs{ xkmax xkstep }
% Calculate EXAFS spectrum.
% xkmax  - calculate spectrum up to k = xkmax
% xkstep - calculate in steps of xkstep
{
|X| F F
} .inp_feff.exafs

# POLARIZATION
feff.polarization
% feff.polarization{ x y z }
% Set polarization vector of x-rays in cartesian coordinates of input file.
{
|X| F F F
} .inp_feff.polarization

# ELLIPTICITY
feff.ellipticity
% feff.ellipticity{ elpty x y z }
% Set the ellipticity of the x-rays.
% This card is used with the feff.polarization. 
%   elpty   - ratio of amplitudes of electric field in the two orthogonal
%             directions of elliptically polarized light. Only the absolute
%             value of the ratio is important for nonmagnetic materials. The
%             present code can distinguish left- and right-circular polarization
%             only with the feff.xmcd or feff.xncd. A zero value of the
%             ellipticity corresponds to linear polarization, and unity to
%             circular polarization. The default value is zero.
%   x, y, z - coordinates of any nonzero vector in the direction of the
%             incident beam. This vector should be approximately normal to the
%             polarization vector
{
|X| F F F F
} .inp_feff.ellipticity

# RGRID
feff.rgrid
{
|X| F
} .inp_feff.rgrid

# RPHASES
feff.rphases
% feff.rphases{ UseRealPhases }
% Set real phase shift approximation.
% UseRealPhases - use real phase shift if true.
{
|X| L
} .inp_feff.rphases

# NSTAR
feff.nstar
% feff.nstar{ WriteNStar }
% Write nstar.dat with effective coordination number N*.
{
|X| L
} .inp_feff.nstar

# NOHOLE
feff.nohole
% feffnohole{ UseNoHole }
% Do not use a hole in the calculation.
% DEPRECATED - Use feff.corehole instead.
{
|X| L
} .inp_feff.nohole

# SIG3
feff.sig3
% feff.sig3{ alphat thetae }
% Set first and third cumulants for single scattering paths:
%   alphat - first cumulant
%   thetae - third cumulant
{
|X| F F
} .inp_feff.sig3

# JUMPRM
feff.jumprm
% feff.jumprm{ UseRemoveJump }
% If true, smooth the jump between muffin tin potentials and interstitial.
{
|X| L
} .inp_feff.jumprm

# MBCONV
feff.mbconv
{
|X| L
} .inp_feff.mbconv 

# SPIN
feff.spin
% feff.spin{ ispin sx sy sz }
% Specify the type of spin-dependent calculation for spin along the (x, y, z) 
% direction, along the z-axis by default. The SPIN card is required for the
% calculation of all spin-dependent effects, including XMCD and SPXAS.
%   ispin:
%      2 spin-up SPXAS and LDOS
%     -2 spin-down SPXAS and LDOS
%      1 spin-up portion of XMCD calculations
%     -1 spin-down portion of XMCD calculations
{
|X| I F F F
} .inp_feff.spin

# EDGE
feff.edge
% feff.edge{ edgeLabel }
% Set edge to calculate for XAS, XES, EELS, and other related spectra.
{
|X| S ...
} .inp_feff.edge

# SCF
feff.scf
% feff.scf{ rfms1 lfms1 nscmt ca nmix }
% Use self-consistent field calculation of potentials.
%   rfms1 - radius of cluster to use for scf calculations.
%   lfms1 - 0 for solids, 1 for molecules
%   nscmt - maximum number of iterations in SCF calculation.
%   ca    - convergence factor for Broyden algorithm
%   nmix  - number of initial iterations of mixing algorithm to use.
{
|X| F I I F I
} .inp_feff.scf

# FMS
feff.fms
% feff.fms{ rfms lfms2 minv toler1 toler2 rdirec }
% Use full multiple-scattering.
% rfms   - radius of cluster to use for fms calculation.
% lfms1  - 0 for solids, 1 for molecules
% minv   - set algorithm for matrix inversion
%          0: LU decomposition
%          2: Lanczos
%          3: Broyden (less reliable)
% toler1 - tolerance to stop recursion and Broyden algorithm
% toler2 - sets the matrix element of the Gt matrix to zero if its value is
%          less than toler2
% rdirec - sets the matrix element of the Gt matrix to zero if the distance
%          between atoms is larger than rdirec
{
|X| F I I F F F
} .inp_feff.fms

# LDOS
feff.ldos
% feff.ldos{ emin emax broadening npoints }
% Run angular momentum project density of states calculations.
% emin       - minimum energy of energy grid.
% emax       - maximum energy of energy grid.
% broadening - Lorenzian broadening to use in calculation.
% npoints    - number of energy points in grid. 
{
|X| F F F I
} .inp_feff.ldos

# INTERSTITIAL
feff.interstitial
% feff.interstitial{ inters vtot }
% The construction of the interstitial potential and density may be changed by
% using this card. inters = 1 might be useful when only the surroundings of the
% absorbing atom are specified in 'feff.inp'. inters defines how to find the
% interstitial potential.
%    inters=0: The interstitial potential is found by averaging over the
%              entire extended cluster in 'feff.inp'. (Default)
%    inters=1: the interstitial potential is found locally around the
%              absorbing atom.
%    vtot:     the volume per atom normalized by ratmin3
%              (vtot=(volume per atom)/ratmin3), where ratmin is the shortest
%              bond for the absorbing atom. This quantity defines the total
%              volume (needed to calculate the interstitial density) of the
%              extended cluster specified in 'feff.inp'. If vtot <= 0 then the
%              total volume is calculated as a sum of Norman sphere volumes.
%              Otherwise, total volume = nat * (vtot * ratmin3), where nat is
%              the number of atoms in an extended cluster.
{
|X| I F
} .inp_feff.interstitial

# CFAVERAGE
feff.cfaverage
{
|X| I I F
} .inp_feff.interstitial

# S02
feff.s02
% feff.s02{ s02 }
% Set EXAFS amplitude reduction factor.
{
|X| F
} .inp_feff.s02

# XES
feff.xes
% feff.xes{ emin emax estep }
% Calculate x-ray emission spectrum.
%   emin  - minimum energy of calculation.
%   emax  - maximum energy of calculation
%   estep - energy step of calculation
{
|X| F F F
} .inp_feff.xes

# DANES
feff.danes
% feff.danes{ xkmax xkstep estep }
% Calculate diffraction anomalous near edge structure.
% xkmax  - calculate up to k = xkmax
% xkstep - use steps of size xkstep
% estep  - near the edge, use steps calculated from estep
{
|X| F F F
} .inp_feff.danes

# FPRIME
feff.fprime
% feff.fprime{ emin emax estep }
% emin  - minimum energy of calculation.
% emax  - maximum energy of calculation
% estep - energy step of calculation
% Calculate atomic scattering factor f'
{
|X| F F F
} .inp_feff.fprime

# RSIGMA
feff.rsigma
% feff.rsigma{ UseRealSelfEnergy }
% If true use only real part of self-energy.
{
|X| L
} .inp_feff.rsigma

# XMCD
feff.xmcd
% feff.xmcd{ xkmax xkstep estep }
% Caluclate x-ray magnetic (or natural) circular dichroism
%   xkmax  - calculate up to k = xkmax
%   xkstep - use steps of size xkstep
%   estep  - near the edge, use steps calculated from estep
{
|X| F F F
} .inp_feff.xmcd

# MULTIPOLES
feff.multipole
% feff.multipole{ le2 l2lp }
% Set multipole expansion approximation. Specifies which multipole transitions
% to include in the calculations. The options are: only dipole (le2 = 0,
% default), dipole and magnetic dipole (le2 = 1), dipole and quadrupole
% (le2 = 2). This cannot be used with NRIXS and is not supported with EXELFS
% and ELNES. The additional field l2lp can be used to calculate individual
% dipolar contributions coming from L -> L + 1 (l2lp = 1) and from L -> L - 1
% (l2lp = -1). Notice that in polarization dependent data there is also a
% cross term, which is calculated only when l2lp = 0
{
|X| I I
} .inp_feff.multipole

# UNFREEZEF
feff.unfreezef
% feff.unreezef{ UnfreezeFOrbitals }
% If true, allow f-orbitals to relax during SCF calculation.
{
|X| L
} .inp_feff.unfreezef

# TDLDA
feff.tdlda
% feff.tdlda{ ifxc }
% Use TDLDA to calculate x-ray absorption spectrum.
% ifxc - set algorithm for tdlda approximation
%        0: use static approximation for screening of the x-ray field
%        1: use approximate dynamic screening of x-ray field and core-hole. 
{
|X| I
} .inp_feff.tdlda

# PMBSE
feff.pmbse
{
|X| I I I I
} .inp_feff.pmbse

# MPSE
feff.mpse
% feff.mpse{ ipl npl }
% Use many-pole model self-energy. This requires the loss function, which can
% be provided externally, or approximated using feff.opcons.
%   ipl - Set method for self-energy inclusion:
%          1: use an "average" self-energy which is applied to the whole
%             system (default). 
%          2: use a density dependendent self-energy which is
%             different at every point inside the muffin-tin radius.
{
|X| I I
} .inp_feff.mpse

# SFCONV
feff.sfconv
% feff.sfconv{ UseSpectralFunctionConvolution }
% If true, convolve spectrum with spectral function to account for
% multi-electron excitations.
{
|X| L
} .inp_feff.sfconv

# SELF
feff.self
% feff.self{ PrintSelfEnergy }
% Print out quasiparticle self-energy calculated during spectral-function
% convolution calculations.
{
|X| L
} .inp_feff.self

# SFSE
feff.sfse
% feff.sfse{ k }
% Print out off shell self-energy Sigma(k,E) calculated during
% spectral-function convolution calculations.
{
|X| F
} .inp_feff.sfse

# RCONV
feff.rconv
{
|X| F S
} .inp_feff.rconv

# ELNES
feff.elnes
{
|X| F F F
|X| S
|X| ...
# In future, fix so that we actually have these params, not just strings.
} .inp_feff.elnes

# EXELFS
feff.exelfs
{
|X| F
|X| S
|X| ...
# In future, fix so that we actually have these params, not just strings.
} .inp_feff.exelfs

# MAGIC
feff.magic
{
|X| F
} .inp_feff.magic

# ABSOLUTE
feff.absolute
% feff.absolue{ UseAbsoluteUnits }
% Print spectrum in absolute units instead of normalizing.
{
|X| L
} .inp_feff.absolute

# SYMMETRY
feff.symmetry
% feff.symmetry{ UseSymmetry }
% If false, turn off symmetry considerations in path expansion.
{
|X| L
} .inp_feff.symmetry

# REAL
feff.real
{
|X| L
} .inp_feff.real

# RECIPROCAL
feff.reciprocal
{
|X| L
} .inp_feff.reciprocal

# SGROUP
feff.sgroup
{
|X| L
} .inp_feff.sgroup

# LATTICE
feff.lattice
{
# Need to fix this so that all parameters are set in separate fields.
|X| S
|X| ...
} .inp_feff.lattice

# KMESH
feff.kmesh
{
|X| I ... 
} .inp_feff.kmesh

# STRFAC
feff.strfac
{
|X| F F F
} .inp_feff.strfac

# BANDSTRUCTURE
#feff.bandstructure
#{
# For future ...
#}

# COREHOLE
feff.corehole
% feff.corehole{ CoreHoleApproximation }
% Set method for calculating corehole interaction.
% CoreHoleApproximation -
%                         None: Do not use a corehole.
%                         FSR : Final-state rule
%                         RPA : Use RPA dielectric function to calculate
%                               screening of core-hole. 
{
|X| S
} .inp_feff.corehole

# TARGET
feff.target
{
|X| I
} .inp_feff.absorber

# EGRID
feff.egrid
{
|X| S S F F
|X| ...
} .inp_feff.egrid

# COORDINATES
feff.coordinates
{
|X| I
} .inp_feff.coordinates

# EXTPOT
feff.extpot
{
|X| L
} .inp_feff.extpot

# CHBROAD
feff.chbroad
% feff.chbroad{ ichbroad }
% Set method of calculating core-hole lifetime broadening.
% ichbroad -
%            0: Calculate Green's function at energy with imaginary part equal
%               to Gamma_CH/2.
%            1: Convolve final spectrum with Lorenzian of full width at
%               half-max Gamma_ch.
{
|X| I
} .inp_feff.chbroad

# CHSH
feff.chsh
% feff.chsh{ ich }
% Correct chemical shift.
% ich = 0 or 1.
{
|X| I
} .inp_feff.chsh

# DIMS
feff.dims
% feff.dims{ nmax lmax }
% Set maximum dimensions for fms calculations.
% nmax - maximum number of atoms in fms matrix.
% lmax - maximum angular momentum of fms matrix.
{
|X| I I
} .inp_feff.dims

# NRIXS
feff.nrixs
{
|X| I 
|X| F ...
|X| ...
} .inp_feff.nrixs

# LJMAX
feff.ljmax
{
|X| I
} .inp_feff.ljmax

# LDEC
feff.ldec
{
|X| I
} .inp_feff.ldec

# SETEDGE
feff.setedge
% feff.setedge{ UseEdgeTable }
% Use table of experimental edge energies.
{
|X| L
} .inp_feff.setedge

# EPS0
feff.eps0
% feff.eps0{ eps0 }
% Set dielectric constant used for many-pole self-energy calculations.
{
|X| F
} .inp_feff.eps0

# OPCONS
feff.opcons
% feff.opcons{ CalculateLossFunction }
% Calculate loss function using an atomic approximation.
{
|X| L
} .inp_feff.opcons

# NUMDENS
feff.numdens
{
|X| I F
|X| ...
} .inp_feff.numdens

# PREPS
feff.preps
% feff.preps{ PrintEpsilon }
% Print dielectric function as calculated by feff.opcons.
{
|X| L
} .inp_feff.preps

# EGAPSE
feff.egapse
% feff.egapse{ egap }
% Use this gap energy when applying the many-pole self-energy.
{
|X| F
} .inp_feff.egapse

# CHWIDTH
feff.chwidth
% feff.chwidth{ gamma_ch }
% Set core-hole width instead of using FEFF's internal table of widths.
{
|X| F
} .inp_feff.chwidth

# MDFF - will implement in future
#feff.mdff
#{
#|X| I 
#} .inp_feff.

# RESTART
feff.restart
{
|X| L
} .inp_feff.restart

# CONFIG
feff.config
{
|X| S
|X| ...
} .inp_feff.config

# SCREEN
feff.screen
{
# We will also want to improve this interface.
|X| S S
|X| ...
} .inp_feff.screen

# CIF
feff.cif
{
|X| S
} .inp_feff.cif

# EQUIVALENCE
feff.equivalence
{
|X| S
} .inp_feff.equivalence

# COMPTON
feff.compton
{
|X| F I I
} .inp_feff.compton

# RHOZZP 
feff.rhozzp
{
|X| L
} .inp_feff.rhozzp

# CGRID
feff.cgrid
{
|X| F I I I I
} .inp_feff.cgrid

# CORVAL
feff.corval
{
|X| F
} .inp_feff.corval

# SIGGK
feff.siggk
{
|X| F
} .inp_feff.siggk

# TEMPERATURE
feff.temperature
{
|X| F I
} .inp_feff.temperature

# DENSITY
feff.density
{
# den_type, grid_type, outfile
|X| S S S 
# origin
|X| F F F
# number of points in each direction
|X| I I I
# vectors along which to step
|X| F F F
|X| F F F
|X| F F F
} .inp_feff.density

# RIXS
feff.rixs
{
|X| F F F
} .inp_feff.rixs

# RLPRINT
feff.rlprint
{
|X| L
} .inp_feff.rlprint

# HUBBARD
feff.hubbard
{
|X| F F F I
} .inp_feff.hubbard

# CRPA
feff.crpa
{
|X| I F
} .inp_feff.crpa

# FULLSPECTRUM
feff.fullspectrum
{
|X| L
} .inp_feff.fullspectrum

# SCXC
feff.scxc
{
|X| I
} .inp_feff.scxc

#------------------------------------------------------------------------------
##############################################
#
#    ORCA 
#
##############################################
#
# Keywords - set multiple settings
# 
orca.expert
% Use verbatim expert setting for orca.
{
|X| S ...
|X| ...
} .inp_orca.expert
orca.scf.convergencestrategy
{
NormalConv |X| S
} .inp_orca.scf.convergencestrategy

orca.cpcm
{
|X| S
} .inp_orca.cpcm

# Method block input
#
orca.method.method
{
B3LYP |X| S
} .inp_orca.method.method

orca.method.runtype
{
OPT |X| S
} .inp_orca.method.runtype

orca.method.amass
{
Mass2016 |X| S
} .inp_orca.method.amass

orca.method.usesymm
{
F |X| L
} .inp_orca.method.usesymm

orca.method.frozencore
{
F |X| L
} .inp_orca.method.frozencore

orca.method.allowrhf
{
F |X| L
} .inp_orca.method.allowrhf

orca.method.ri
{
F |X| L
} .inp_orca.method.ri

orca.method.grid
{
GRID4 |X| S
} .inp_orca.method.grid

orca.method.gridx
{
|X| S
} .inp_orca.method.gridx


# SCF controls
orca.scf.hftyp
{
RHF |X| S
} .inp_orca.scf.hftyp

orca.scf.fracocc
{
|X| S
} .inp_orca.scf.fracocc

orca.scf.smeartemp
{
|X| L
} .inp_orca.scf.smeartemp

orca.scf.keepints
{
|X| L
} .inp_orca.scf.keepints

orca.scf.keepdens
{
|X| L
} .inp_orca.scf.keepdens

orca.scf.readints
{
|X| L
} .inp_orca.scf.readints

orca.scf.usecheapints
{
|X| L
} .inp_orca.scf.uescheapints

orca.scf.valformat
{
|X| S
} .inp_orca.scf.valformat


orca.scf.kmatrix
{
|X| S
} .inp_orca.scf.kmatrix

orca.scf.jmatrix
{
|X| S
} .inp_orca.scf.jmatrix

orca.scf.scfmode
{
|X| S
} .inp_orca.scf.scfmode

orca.scf.maxiter
{
|X| S
} .inp_orca.scf.maxiter

orca.scf.guess
{
|X| S
} .inp_orca.scf.guess

orca.scf.autostart
{
T |X| L
} .inp_orca.scf.autostart

orca.scf.convergence
{
NORMALSCF |X| S
} .inp_orca.scf.convergence

orca.scf.diis
{
|X| L
} .inp_orca.scf.diis

orca.scf.kdiis
{
|X| L
} .inp_orca.scf.kdiis

orca.scf.nr
{
|X| L
} .inp_orca.scf.nr

orca.scf.soscf
{
|X| L
} .inp_orca.scf.soscf

orca.scf.cnvdamp
{
|X| L
} .inp_orca.scf.cnvdamp

orca.scf.cnvshift
{
|X| L
} .inp_orca.scf.cnvshift

orca.scf.uno
{
|X| L
} .inp_orca.scf.uno



# Basis block
orca.basis.basis
{
def2-TZVP |X| S
} .inp_orca.basis.basis

orca.basis.decontract
{
|X| L
} .inp_orca.basis.decontract


# MP2 controls
orca.mp2
{
F |X| L
} .inp_orca.mp2

orca.mp2type
{
MP2 |X| S
} .inp_orca.mp2type

# Single reference CI controls (MDCI block)
orca.ci
{
F |X| L
} .inp_orca.ci

orca.citype
{
CCSD |X| S
} .inp_orca.citype

# GEOM block
orca.tole
{
|X| F
} .inp_orca.tole

orca.tolrmsg
{
|X| F
} .inp_orca.tolrmsg

orca.tolmaxg
{
|X| F
} .inp_orca.tolmaxg

orca.tolrmsd
{
|X| F
} .inp_orca.tolrmsd

orca.tolrmaxd
{
|X| F
} .inp_orca.tolrmaxd

orca.geom.optimizationquality
{
TIGHTOPT |X| S
} .inp_orca.geom.optimizationquality

# coordinate input block
orca.coords.units
{
|X| S
} .inp_orca.coords.units


# Relativistic options
orca.rel.method
{
|X| S
} .inp_orca.rel.method

orca.rel.soctype
{
|X| S
} .inp_orca.rel.soctype

# Output options
orca.output.printlevel
{
|X| S
} .inp_orca.output.printlevel

orca.output.print
{
|X| S
} .inp_orca.output.print

orca.output.xyzfile
{
|X| L
} .inp_orca.output.xyzfile

orca.output.pdbfile
{
|X| L
} .inp_orca.output.pdbfile


#------------------------------------------------------------------------------
##############################################
#
#    TD-SIESTA 
#
##############################################
#
# Keywords - set multiple settings
# 
#
#
#------------------------------------------------------------------------------
siesta.MPI.CMD{
|X| S
} .inp_siesta.MPI.CMD
siesta.MPI.ARGS{
|X| S ...
} .inp_siesta.MPI.ARGS
siesta.TD.NumberOfTimeSteps
% Specify number of time steps for RT-TDDFT run. 
{
|X| I
} .inp_siesta.TD.NumberOfTimeSteps

siesta.TD.TimeStep
% Specify the time step for RT-TDDFT run.
{
|X| F
} .inp_siesta.TD.TimeStep

siesta.TD.ShapeOfEfield
% Specify the shape of the field for the RT-TDDFT run.
% Options are:
% step     - Turn off dipole field at time 0.
% halfstep - Dipole field changes from full strength to 1/2
%            strength at time 0.
% delta    - Dipole field with time dependence delta(t).
% const    - Turn on dipole field at time 0.
% sine     - Dipole field with damped sine wave time dependence,
%            with optional Gaussian envelope to create quasi-harmonic
%            wave packet.
% core     - turn on core-hole potential at time 0.
{
|X| S
} .inp_siesta.TD.ShapeOfEfield

siesta.TD.CoreExcitedAtom
% Set which atom will be the absorbing atom, i.e., which atoms the
% core-hole will be centered on
{
|X| I
} .inp_siesta.TD.CoreExcitedAtom

siesta.TD.CorePerturbationCharge
% Set the core-hole charge. 
{
|X| F
} .inp_siesta.TD.CorePerturbationCharge

siesta.TD.mxPC
% Maximum number of points to use for predictor-corrector algorith.
{
2 |X| I
} .inp_siesta.TD.mxPC

siesta.LongOutput
% Output lots of info.
{
T |X| L
} .inp_siesta.LongOut

siesta.MeshCutoff
% Energy that defines the real-space grid. Point spacing scales as 1/sqrt(E_c).
{
120.0 Ry |X| F S
} .inp_siesta.MeshCutoff

siesta.XC.functional
% Set flavor of exchange-correlation functional, i.e., LDA or GGA.
{
GGA |X| S
} .inp_siesta.XC.functional

siesta.XC.authors
% Set authors of exchange correlation functional.
{
PBE |X| S
} .inp_siesta.XC.Authors

siesta.LatticeConstant
% Set an overall multiplicative constant for the lattice parameters.
{
|X| F S
} .inp_siesta.LatticeConstant

siesta.Block.LatticeParameters
% Set lattice parameters, i.e.,
% a b c alpha beta gamma
{
|X| F F F F F F
}.inp_siesta.Block.LatticeParameters

siesta.MaxSCFIterations
% Max number of SCF iterations allowed.
{
100 |X| I
} .inp_siesta.MaxSCFIterations

siesta.DM.MixingWeight
% Mixing weight for the density matrix.
{
0.10 |X| F
} .inp_siesta.DM.MixingWeight

siesta.DM.Tolerance
% Convergence tolerance for elements of the density matrix
{
1.0e-4 |X| F
} .inp_siesta.DM.Tolerance

siesta.SolutionMethod
% Method for solving the eigenvalue problem.
{
diagon |X| S
} .inp_siesta.SolutionMethod

siesta.PAO.BasisType
% Define basis type
% split: Split-valence scheme for multiple-zeta. The split is based on different radii.
% splitgauss: Same as split but using Gaussian functions.
% nodes: Generalized PAO’s.
% nonodes: The original PAO’s are used, multiple-zeta is generated by changing the
% scale-factors, instead of using the excited orbitals.
% filteret: Use the filterets as a systematic basis set. The size of the basis set is
% controlled by the filter cut-off for the orbitals.
{
split |X| S
} .inp_siesta.PAO.BasisType

siesta.PAO.BasisSize
% Define basis size. Can be SZ, DZ, SZP, DZP.
{
DZP |X| S
} .inp_siesta.PAO.BasisSize

siesta.ElectronicTemperature
% Set electronic teperature used to define occupation numbers during SCF.
{
1.0 K |X| F S
} .inp_siesta.ElectronicTemperature

siesta.NumberOfAtoms
% Indicate number of atoms in unit cell.
{
|X| I
} .inp_siesta.NumberOfAtoms

siesta.NumberOfSpecies
% Indicate number of species in unit cell.
{
|X| I
} .inp_siesta.NumberOfSpecies

siesta.Block.ChemicalSpeciesLabel
% Indicate the different chemical species in the unit cell.
% Format:
% SpeciesIndex1 AtomicNumber1 AtomicSymbol1
% SpeciesIndex2 AtomicNumber2 AtomicSymbol2
% ...
{
|X| I I S
} .inp_siesta.Block.ChemicalSpeciesLabel

siesta.AtomicCoordinatesFormat
% Specify units and format of atomic coordinates.
% Borh            - cartesian in Bohr.
% Ang             - cartesian in Angstrom.
% ScaledCartesian - cartesian scaled by lattice constant.
% Fractional      - coordinates are given in units of the lattice vectors.
{
Fractional |X| S
} .inp_siesta.AtomicCoordinatesFormat

siesta.Block.AtomicCoordinatesAndAtomicSpecies
% Specify coordinates of each atom as well as the species index.
% x1 y1 z1 SpeciesIndex1
% x2 y2 z2 SpeciesIndex2
% ...
{
|X| F F F I
|X| ...
} .inp_siesta.Block.AtomicCoordinatesAndAtomicSpecies

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% cif2cell input
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

cif2cell.ciffile
% Crystallographic information file to use.
{
|X| S
} .inp_cif2cell.ciffile

cif2cell.program
{
% Program for cif2cell to write input for.
|X| S
} .inp_cif2cell.program

cif2cell.outfile
% Write output to outfile
{
|X| S
} .inp_cif2cell.outfile

cif2cell.supercell
{
|X| I I I
} .inp_cif2cell.supercell

cif2cell.cartesian
% make output in cartesian form
{
|X| L
} .inp_cif2cell.cartesian

cif2cell.atomicunits
% print coordinates in bohr rather than angstroms
{
|X| L
} .inp_cif2cell.atomicunits


##############################################
#
#   fit input
#
##############################################
fit.target
{
|X| S
} .inp_fit.target

fit.parameters
{
|X| S F
|X| ...
} .inp_fit.parameters

fit.datafile
{
|X| S
} .inp_fit.datafile

fit.bond
{
|X| I ...
|X| ...
} .inp_fit.bond
